@charset "utf-8";
/* CSS Document */

* {
	margin: 0;
	padding: 0;
	overflow-y: hidden;
}

.container {
	width: 100%;
	height: 100vh;
	background-color: red;
}

#brasilien_svg {
	max-height: 100vh;
}

#Christ_the_Redeemer:hover {
	transform: scale(1.25);
}

#Christ_the_Redeemer {
	display: none;
}

/* MODAL MODAL MODAL MODAL MODAL MODAL MODAL MODAL MODAL MODAL */

*, *::after, *::before {
	box-sizing: border-box;
}

.modal {
	display: none;
	background: rgba(0,0,0,.8);
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	z-index: 105;
	padding: 3rem;
}

@media screen and (max-width: 600px) {
	.modal {
		padding: 3rem 1rem 3rem 1rem;
	}
}

.modal:target {
	display: table;
}

.modal_dialog {
	display: table-cell;
	vertical-align: middle;
}

.modal_content {
	width: 100%;
	min-width: 300px;
	margin: auto;
	position: relative;
	animation: slideUp 1s ease-in-out;
	max-height: 100%;
	overflow-y: hidden;
}

@media screen and (max-width: 600px) {
	.modal_content {
		width: 100%;
	}
}

.modal_header {
	background: #2B3A42;
	color: white;
	padding: 1rem;
	position: sticky;
    top: 0;
	text-align: center;
}

.modal_title {
	font-size: 1.75em;
	margin: 0;
}

@media screen and (max-width: 355px) {
	.modal_content {
		font-size: .8em;
	}
}

.modal_close {
	color: #FFFFFF;
	text-decoration: none;
	position: absolute;
    top: 0;
	right: 1rem;
	font-size: 50px;
}

@media screen and (max-width: 430px) {
	.modal_close {
		position: static;
	}
}

.modal_body {
	max-width: 95vw;
	margin: 0 auto;
	display: flex;
	background-color: #BAD6E7;
}

@media screen and (max-width: 1024px) {
	.modal_body {
		max-width: 100vw;
	}
}

@media screen and (max-width: 1024px) {
	.modal_body {
		flex-direction: column;
	}
}

.first {
	flex: 1;
	padding: 1rem;
	background-color: #EFEFEF;
	color: white;
	overflow-y: scroll;
}

.first h1 {
	font-weight: 600;
	font-size: 1.3em;
	margin-bottom: .3rem;
	color: #3F5765
}

.first p {
	margin-bottom: 1rem;
	line-height: 1.4rem;
	color: #3B5463
}

.second {
	flex: 1;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-content: center;
}

/* SLIDER SLIDER SLIDER SLIDER SLIDER SLIDER SLIDER SLIDER SLIDER SLIDER */

.container_slider {
	margin: auto;
	position: relative;
	width: 90%;
	height: 0;
	padding-bottom: 50%;
	background-color: transparent;
	box-shadow: 0 11px 22px rgba(0, 0, 0, 0.20), 0 7px 7px rgba(0, 0, 0, 0.24);
}

.container_slider--top {
	align-self: flex-start;
}

.container_slider--bottom {
	align-self: flex-end;
}

input {
	display: none;
}

.slide_img {
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: -1;
}

img {
	width: inherit;
	height: inherit;
}

.prev, .next {
	width: 12%;
	height: inherit;
	position: absolute;
	top: 0;
	background-color: rgba(255, 82, 82, .2);
	z-index: 99;
	transition: .45s;
	cursor: pointer;
	text-align: center;
}
		
.next {
	right: 0;
}
		
.prev {
	left: 0;
}

.prev:hover, .next:hover {
	transition: .3s;
	background-color: rgba(255, 82, 82, .8);
}

.prev span, .next span {
	position: absolute;
	width: 0px;
	height: 0px;
	border: solid 20px;
	top: 50%;
	transform: translateY(-50%);
}

.prev span {
	border-color: transparent #fff transparent transparent;
	right: 35%;
}
.next span {
	border-color: transparent transparent transparent #fff;
	left: 35%;
}

#nav_slide {
	width: 100%;
	bottom: 12%;
	height: 11px;
	position: absolute;
	text-align: center;
	z-index: 99;
	cursor: default;
}

.dots {
	top: -5px;
	width: 18px;
	height: 18px;
	margin: 0 3px;
	position: relative;
	border-radius: 100%;
	display: inline-block;
	background-color: rgba(0, 0, 0, 0.6);
	transition: .4s;
	cursor: pointer;
}
		
#dot1:hover {
	background: #795548;
}

#dot2:hover {
	background: #F44336;
}

#dot3:hover {
	background: #2196F3;
}

#dot4:hover {
	background: #4CAF50;
}


#i1:checked ~ #one,
#i2:checked ~ #two,
#i3:checked ~ #three,
#i4:checked ~ #four {
	z-index: 9;
	animation: scroll 1s ease-in-out;
}

#i1:checked ~ #nav_slide #dot1 {
	background: #795548;
}

#i2:checked ~ #nav_slide #dot2 {
	background: #F44336;
}

#i3:checked ~ #nav_slide #dot3 {
	background: #2196F3;
}

#i4:checked ~ #nav_slide #dot4 {
	background: #4CAF50;
}

@keyframes scroll {
	0% { opacity: .4;}
	100% { opacity: 1;}
}

label {
	overflow-x: hidden;
}

/* SLIDER SLIDER SLIDER SLIDER SLIDER SLIDER SLIDER SLIDER SLIDER SLIDER */

.bullets {
	display: block;
	line-height: 1rem;
}

.prev-portfolio {
	color: #3F5765;
	font-weight: 700;
	font-size: 1.1em;
	text-decoration: underline
}

.blank {
	opacity: 0;
}

.fed_gestaltlove {
	font-weight: 600;
}

.modal_img {
	position: relative;
	margin: 1rem auto;
	width: 75%;
}

.modal_text {
	padding: 1rem;
}

.close {
	animation: close;
}

@keyframes slideUp {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

@keyframes close {
	from {
		opacity: 1;
	}
	to {
		opacity: 0;
	}
}

.bullets {
	display: block;
	line-height: 1rem;
}

/* MODAL MODAL MODAL MODAL MODAL MODAL MODAL MODAL MODAL MODAL */





























